body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

input {
  width: 100%;
  margin-bottom: 10px;
}

button {
  background-color: #0099cc;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

ul {
  list-style-type: none;
}

li {
  padding: 10px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.delete {
  float: right;
  color: red;
}